body {
    max-width: 960px;
    margin: auto;
}

.main-title {
    max-width:960px;
    font-size: 64px;
    text-align: center;
    background-color: rgb(177, 177, 177);
    color: white;
    margin: 12px 0px 0px 0px;
}

.list-container {
    display: flex;
    max-width: 960px;
    height: 350px;
    /*background-color: aquamarine;*/
    gap:25px;
    margin:25px;  
    
}

#main-list-01 {
    flex:1;
    background-color: red;     
}

#main-list-02 {
    flex:1;
    background-color: blue;
}

#main-list-03 {
    flex:1;
    background-color: greenyellow;  
}

.drink-title {
    font-size: 25px;
    text-align: center;
}

.main-pic, .drink-pic {
    max-width: auto;
    max-height: auto;
    text-align: center;
    
}

.drink-pic {
    max-width: 400px;
    margin: auto;
}


.drink-description {
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.list {
    background-color: rgb(197, 197, 197);
    width: auto;
    font-size: 18px;
    padding: 15px;
}

.warning {
    background: red;
}
